@media screen and (min-width: 480px) {}

  #leftsidebar {
width: 200px;
float: left;
background-color: lightgreen;
  }

  #main {
  margin-left: 216px;
  }

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFBE6;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
}